<!DOCTYPE html>
<html>
<head>
<title>titolo</title>
<meta name="keywords" content="web, html5, javascript, css" charset="utf-8">
<link href="./css/stile.css" rel="stylesheet">
</head>
<body>
<form  method="GET">
<fieldset>
<legend>anagrafica: </legend>
  <table>
       <tr>
           <td>
           <label for="nome">nome: </label>
           </td>
           <td>
           <input type="text" id="nome" autofocus required size="50"> 
           </td>
        </tr>
    <tr>
       <td>
      <label for="cognome">cognome</label>
       </td>
       <td>
      <input type="text" id="cognome" required size="50"> 
       </td>
    </tr>
    <tr>
       <td>
      <label for="mail">email</label>
       </td>
       <td>
      <input type="email" id="mail" required size="50" placeholder="tuamail@esempio.it">  
       </td>
    </tr>
  
    <tr>
       <td>
         <label for="pwd">password</label>
       </td>
       <td>
           <input type="password" id="pwd">
       </td>
    </tr>
    <tr>
      <td>sesso</td>
      <td>
        <input type="radio" id="sesso" name="sesso"/>uomo
        <input type="radio" id="sesso" name="sesso"/>donna  
      </td>
    </tr>
    <tr>
       <td>
         <label for="date">data di nascita</label>
       </td>
       <td>
           <input type="date" id="date">
       </td>
    </tr>
    <tr>
       <td>
         <label for="cell">cellulare</label>
       </td>
       <td>
           <input type="tel" id="cell">
       </td>
    </tr> 
   
</table> 

</fieldset> 
<fieldset>
<legend>privacy: </legend>
<table>
 <div>
  I tuoi dati personali saranno trattati da YOOX in modalità prevalentemente elettronica, per erogare i servizi riservati agli utenti registrati. Inoltre, previo consenso, i dati – compresi quelli da te forniti in occasione degli eventuali processi d’acquisto – saranno trattati per l’invio da parte di YOOX della newsletter YOOX NEWS e – per conto proprio o di terzi – di altro materiale informativo e promozionale, comunicazioni commerciali, per lo svolgimento di attività di vendita diretta. I tuoi dati – compresi quelli da te forniti in occasione degli eventuali processi d’acquisto e le tue abitudini di consumo – saranno trattati, sempre previo consenso, per fini di profilazione, allo scopo di migliorare la tua esperienza di navigazione sul sito e di inviarti proposte in linea con i tuoi interessi.
Gli incaricati preposti al trattamento sono: gli addetti alla gestione del sito ed erogazione dei relativi servizi, al marketing e ai sistemi informativi.
<br>
Consulta la Privacy Policy per tutte le altre informazioni a tutela dei tuoi diritti.
</div>

  <tr>
    <td>
      <input type="checkbox" id="privacy" />
    </td>
    <td>
      <label for="privacy" >
    <p>
       Acconsento all’uso dei miei dati secondo l'informativa 
    </p>
        
      
      </label>
    </td>
  </tr> 
</table>

    
</fieldset>




<fieldset>
<table>
  Acconsento all’uso dei miei dati personali per:
  <tr>
  <td>
    <input type="checkbox" id="acconsento1" />
  </td>
    <td>
      <label for="acconsento1">
      <p>
        essere aggiornato sui nuovi arrivi, prodotti in esclusiva e per le finalità di marketing correlate ai servizi offerti
      </p> 
      </label>
    </td>
    </tr>
    <tr>
  <td>
    <input type="checkbox" id="acconsento2" />
  </td>
    <td>
      <label for="acconsento2">
      <p>
        migliorare la mia esperienza di navigazione e ricevere proposte in linea con i miei interessi attraverso l’analisi dei miei precedenti acquisti
REGISTRATI

      </p> 
      </label>
    </td>
    </tr>
</table>
  
  
  
  

</fieldset>
  
</form>
</body>
</html>