.nav-main .nav-link .nav-ul > li:hover a,
.nav-main .nav-link .nav-ul > li.active a,
.nav-main .nav-link .nav-ul > li ul li a,
#main_banner .banner-text .top-title label,
#footer .footer-link ul li a:hover,
#footer .footer-bottom p a,
.book-tabel .form-view .submit-slide:hover .fa ,
.news-block .news-box a,
.style-box .box-icon .fa,
.style-box .inner-box .home-them ul li a,
.top-title label,
.our-story.style2 .top-title label,
.news-block .news-slide .news-content a,
.menu-view .menu-box2 .text .price, 
#footer.style3 .copyright-text p a {color:#8d5ce6;}
 
.nav-main .nav-link .nav-ul > li ul {border-top:solid 3px #8d5ce6; }
.nav-main .nav-link .nav-ul > li ul li:hover a, .nav-main .nav-link .nav-ul > li ul li.active a {background:#8d5ce6; color:#fff;  }
.btn.fill {border:solid 1px #8d5ce6; background:#8d5ce6; }
.btn:hover {border:solid 1px #8d5ce6; background:#8d5ce6;}
.btn.fill:hover {color:#8d5ce6;}
#main_banner .btn:hover {border-color:#8d5ce6; background:#8d5ce6;  }
.our-dishes .dish-box .price,
.news-block .news-box .date,
#footer .social-media ul li a:hover,
.newsletter {background:#8d5ce6;}

.our-story:after,
.book-tabel:after {background:rgba(98,63,161,0.7);}
.menu-view .menu-tab .tab-menu ul li.active a {background-color:#8d5ce6; border:solid 1px #8d5ce6; }
.menu-view .menu-tab .tab-menu ul li a:hover {background-color:#8d5ce6; border:solid 1px #8d5ce6; }
.menu-view .menu-tab .tab-menu ul li.active a:after {border-top: 13px solid #8d5ce6;}
.book-tabel .form-view .submit-slide input {background:#8d5ce6; border:solid 1px #8d5ce6;}
.book-tabel .form-view .submit-slide:hover input {color:#8d5ce6}

.news-block .news-box .date:after { border-top: 10px solid #1d0051;}
.booking-blcok .book-table .booking-details .submit-box input {background:#8d5ce6;}

/* */
.about-detail ul li{ background-color:#8d5ce6;}
.our-team .social-media ul li a:hover{ background-color:#8d5ce6;}
.booking.book-tabel .top-title label{color: #8d5ce6;}
.booking .events-reservation .reservation-options .resBox:hover span{ background:#8d5ce6;}
.booking .events-reservation .reservation-options .resBox:hover a{color:#8d5ce6;}
.contact-style1 .contact-detail .submit-slide input{background: #8d5ce6;}
.contact-style2 .contact-detail .submit-slide input{background: #8d5ce6;}
.contact-style2 .contact-detail .contact-info .contact-slide:hover span{ background:#8d5ce6;}
.news .newsBlock .news-info ul li a:hover{color:#8d5ce6;}
.news .newsBlock .blockquote{border-left-color: #8d5ce6;}
.news .newsBlock .readmore{color:#8d5ce6; }
.news .sideBar .searchBox input[type="submit"]{ background-color:#8d5ce6;}
.news .sideBar .next-event ul li:hover{background:#8d5ce6;}
.news .news-detail .newsBlock .news-info p .tag{background:#8d5ce6;}
.news .news-detail .admin .title,.news .news-detail .admin .user-details .user-info .designation{ color:#8d5ce6;}
.commentBox .post .user-details .user-info .reply{ color:#8d5ce6;}
.commentBox .post p {border-left:solid 6px #8d5ce6; }
.commentBox .reply-form .submit-btn{ background:#8d5ce6;}
.commentBox .reply-form .submit-btn:hover{ color:#8d5ce6; border-color:#8d5ce6;}
.news .newsBox .news-img:after{background:rgba(141,92,230,0.5);}
.news .newsBox .news-info{box-shadow: 0 -3px 0 0 #8d5ce6 inset;}
.news .more-btn .btn{background:#8d5ce6;}
.news .more-btn .btn:hover, .nav-main.style2 .nav-link .login-btn{ border-color:#8d5ce6; color:#8d5ce6;}
.nav-main.style2 .nav-link .login-btn:hover { color:#FFF; }
.menu-view .menuBox .menu-info .price{ color:#8d5ce6;}
.menu-view .menuBox .menu-img:after{background:rgba(141,92,230,0.5);}
.errorPage .errorContent p a{color:#8d5ce6;}
.modal-header .modal-title,.news-subscribe .modal-body p a{color:#8d5ce6;}
.modal-content .btn{background:#8d5ce6;}
.modal-content .btn:hover{color:#8d5ce6; border-color:#8d5ce6;}
.modal-content .modal-footer a{color:#8d5ce6;}
#goTop{background:#8d5ce6;}

.contact-style1 .contact-detail .submit-slide:hover input,.contact-style2 .contact-detail .submit-slide:hover input{ background:#7749cb;} 

.food-menuView .menu-slide .price {background:#8d5ce6;}
.menu-view .fullMenu-btn .btn {border-bottom:solid 2px #5f32b1;}
.dishes-ofDay.style3 .singal-itemSlider .owl-nav .fa {background:rgba(141,92,230,0.5);}
.dishes-ofDay.style3 .singal-itemSlider .owl-nav .fa:hover {background:rgba(141,92,230,1);}

#logoinPopup .close-btn, #logoinPopup .login-info .left-form .submit-slide input[type="submit"] { background:#5f32b1; }
#logoinPopup .login-info .left-form .sign-upLink a, #logoinPopup h2 { color:#5f32b1; }
.quck-nav a:hover {color:#5f32b1; }
.intro-content .right-text label {color: #5f32b1;}
.intro-content .info-text .inner-text {border-top:solid 1px #5f32b1;}
.intro-content .left-text p span {color:#5f32b1; }
.intro-footer .sosiyal-midiya ul li a {background:#5f32b1;}
.intro-footer .contact-link ul li a .fa {color:#5f32b1;}
.intro-footer .footer-copyRight p a {color:#5f32b1;}
.intro-page .infro-view .intro-logo .logo a {border:solid 5px #5f32b1;}