.news {
    padding: 70px 0;
}

* {
    box-sizing: border-box;
}

.rightBar p:after {
    left: 17%;
}


/*########## Accordion ###########*/

.accordion {
    padding: 50px 0 0 0;
}

.accordion .top-title {
    padding-bottom: 70px;
}

.accordion-box {
    display: block;
    width: 100%;
    margin-bottom: 60px;
}

.accordion-box .accordion-slide {
    display: block;
    padding: 0 0 10px 0;
}

.accordion-box .accordion-slide .title {
    display: block;
    background: #f0f0f0;
    padding: 0 36px 0 10px;
    line-height: 44px;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.accordion-box .accordion-slide .title .icon {
    font-size: 16px;
    color: #888888;
    line-height: 44px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 36px;
    text-align: center;
    cursor: pointer;
}

.accordion-box .accordion-slide .title .icon:after {
    content: "\f055";
}

.accordion-box .accordion-slide .title.active {
    background: #c6a325;
    color: #fff;
}

.accordion-box .accordion-slide .title.active .icon:after {
    content: "\f056";
    color: #fff;
}

.accordion-box .accordion-slide .title:hover {
    background: #c6a325;
    color: #fff;
}

.accordion-box .accordion-slide .title:hover .icon {
    color: #fff;
}

.accordion-box .accordion-slide .accordion-content {
    display: none;
    width: 100%;
    padding: 14px 0 6px 0;
}

.accordion-box .accordion-slide .accordion-content p {
    display: block;
    margin: 0px;
}

.accordion-box.style2 .accordion-slide .title .icon {
    font-size: 24px;
}

.accordion-box.style2 .accordion-slide .title .icon:after {
    content: "\f105";
}

.accordion-box.style2 .accordion-slide .title.active {
    background: #71632f;
    color: #fff;
}

.accordion-box.style2 .accordion-slide .title.active .icon:after {
    content: "\f107";
    color: #fff;
}

.accordion-box.style2 .accordion-slide .title:hover {
    background: #71632f;
    color: #fff;
}

.accordion-box.style2 .accordion-slide .title:hover .icon {
    color: #fff;
}

.accordion-box.style3 {
    border: solid 1px #dfdfdf;
    padding: 0 10px;
}

.accordion-box.style3 .accordion-slide {
    padding: 0px;
    border-bottom: solid 1px #dfdfdf;
}

.accordion-box.style3 .accordion-slide:last-child {
    border: none;
}

.accordion-box.style3 .accordion-slide .title {
    background: none;
    color: #999999;
}

.accordion-box.style3 .accordion-slide .title .icon {
    font-size: 16px;
    color: #adadad;
    width: 25px;
    text-align: right;
}

.accordion-box.style3 .accordion-slide .title .icon:after {
    content: "\f067";
}

.accordion-box.style3 .accordion-slide .title.active {
    color: #c6a325;
}

.accordion-box.style3 .accordion-slide .title.active .icon:after {
    content: "\f068";
    color: #adadad;
}

.accordion-box.style3 .accordion-slide .title:hover {
    background: none;
    color: #c6a325;
}

.accordion-box.style3 .accordion-slide .title:hover .icon {
    color: #adadad;
}

.accordion-box.style3 .accordion-slide .accordion-content {
    padding-bottom: 16px;
}

.accordion-box.style4 {
    border: solid 1px #dfdfdf;
}

.accordion-box.style4 .accordion-slide {
    padding: 0px;
    border-bottom: solid 1px #dfdfdf;
}

.accordion-box.style4 .accordion-slide:last-child {
    border: none;
}

.accordion-box.style4 .accordion-slide.active {
    background: #c6a325;
}

.accordion-box.style4 .accordion-slide.active .accordion-content p {
    color: #fff;
    padding: 0 10px;
}

.accordion-box.style4 .accordion-slide .title {
    color: #999999;
    background: none;
}

.accordion-box.style4 .accordion-slide .title .icon {
    font-size: 24px;
}

.accordion-box.style4 .accordion-slide .title .icon:after {
    content: "\f105";
}

.accordion-box.style4 .accordion-slide .title.active {
    background: #c6a325;
    color: #fff;
}

.accordion-box.style4 .accordion-slide .title.active .icon:after {
    content: "\f107";
    color: #fff;
}

.accordion-box.style4 .accordion-slide .title:hover {
    background: #c6a325;
    color: #fff;
}

.accordion-box.style4 .accordion-slide .title:hover .icon {
    color: #fff;
}


/*==================== accordion  end ==================== */



div.form {

	border: 2px solid grey;
	padding: 10px 30px 10px 30px;
    height: 50px;
    overflow-y: scroll;
}
form{
	
}
label.border { 

width: 100px; 
}
label.bord { 

width: 100px; 
}
div.crea { 
display:none;
}
div.btn-box{
	
}

div.contact-detail{
	align-items: center;
	
}

/*==================== button style start ====================*/
.btn {
	display: inline-block;
	padding: 0 25px;
	border: solid 1px #cccccc;
	line-height: 42px;
	font-size: 18px;
	color: #333333;
	font-weight: 600;
	border-radius: 0px;
	-moz-transition: all 1s ease-in-out 0s;
	-ms-transition: all 1s ease-in-out 0s;
	-o-transition: all 1s ease-in-out 0s;
	-webkit-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}
.btn.fill {
	color: #fff;
}
.btn:hover {
	color: #fff;
}
.btn.fill:hover {
	border: solid 1px #cccccc;
	background: #fff;
}
/*==================== button style end ====================*/



/*==================== button start ==================== */
.button-style {
	padding-bottom: 50px;
}
.button-style .top-title {
	padding-bottom: 70px;
}
.button-style .btn-col {
	width: 200px;
	padding: 0 30px 0 0;
	float: left;
	min-height: 290px;
}
.button-style .btn-col.last {
	width: auto;
	padding: 0px;
}
.button-style .btn-col .commonbtn {
	margin-bottom: 10px;
}
.button-style .btn-col .btn-box {
	display: block;
	margin-bottom: 10px;
}
.commonbtn {
	width: auto;
	padding: 15px 20px;
	line-height: 30px;
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}
.commonbtn:hover {
	color: #fff;
	text-decoration: none;
}
.commonbtn.style1 {
	border-radius: 60px;
	background: #c6a325;
}
.commonbtn.style2 {
	border-radius: 5px;
	background: #c6a325;
}
.commonbtn.style3 {
	background: #c6a325;
}
.commonbtn.style4 {
	background: #c6a325;
	border-bottom: solid 2px #ae8c12;
}
.commonbtn.style5 {
	color: #888888;
	border: solid 2px #cccccc;
	line-height: 26px;
	padding: 15px 18px;
	border-radius: 60px;
}
.commonbtn.style6 {
	border-radius: 5px;
	color: #888888;
	border: solid 2px #cccccc;
	line-height: 26px;
	padding: 15px 18px;
}
.commonbtn.style7 {
	border: solid 2px #cccccc;
	line-height: 26px;
	padding: 15px 18px;
	color: #888888;
}
.commonbtn.style8 {
	border: solid 2px #cccccc;
	line-height: 26px;
	padding: 15px 18px;
	border-bottom: 4px solid #cccccc;
	color: #888888;
}
.commonbtn.style9 {
	background: #c6a325;
}
.commonbtn.style10 {
	background: #c68825;
}
.commonbtn.style11 {
	background: #502511;
}
.commonbtn.style12 {
	border: solid 2px #c6a325;
	padding: 15px 18px;
	line-height: 26px;
	color: #c6a325;
}
.commonbtn.style13 {
	background: #817a0c;
}
.commonbtn.style14 {
	background: #524e11;
}
.commonbtn.style15 {
	background: #c6bd25;
}
.commonbtn.large {
	padding: 22px 70px;
	font-size: 21px;
}
.commonbtn.medium {
	padding: 10px 50px;
	font-size: 18px;
}
.commonbtn.small {
	padding: 1px 15px;
	font-size: 14px;
}
/*==================== button end ==================== */
