#immaginepiccola{
    max-width: 120px;
    max-height: 120px;
    height: auto;
    width: auto;
}

.personal-color {
    background-color: green;
}
.presonal-color2 {
    background-color: orangered;
}

#menufont{
     font-size: 1.2em;
}